<html>
    <head><link rel="stylesheet" type="text/css" href="/css/index.css"></head>
    <body>
     {{>header}}
        
        <p>This site tells weather forecast </p>
        <p>This site uses node js to run</p>
    {{>footer}}
    </body>
</html>