<!DOCTYPE html>
<html>
<head>
	<title>CSS</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
	
<body>
     {{>header}}
	
        <p>Here is some Helpful Text</p>

    {{>footer}}




</body>
</html>